# Python Basics

While learning any programming I always start learning it with Hello world!! :)

In [2]:
print("Hello World !!")

Hello World !!

Features of Python:

    1) High Level interpreter launguage 
    2) Platform Independent 
    3) Simple to understand and learn 
    4) Open Source 
    5) GUI Programming
    6) Object Oriented Structure
    7) Pre-build Libraries

### Programming in Jupyter

1) The Main advantage of using Jupyter Notebook is that we can write both codes and normal text in the notebooks

2) These notebooks are easy to read and share, and can even be used to present our work to others

### Programming in Python

### 1) Variables
### 2) Data Types
### 3) Operators
### 4) Conditions
### 5) Loops

## 1) Variables:

### Variables are reserved memory locations to store values

### a) Data types
        Build in datatypes
        Integer, Floating Point, String, Boolean values

In [9]:
a = 'Sudhasrinivas'
print( type(a))

b = 10
print( type(b))

c = 10.0
print( type(c))

d= True 
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### b) Data Structures
        Lists, Dictionary & Tuples

In [13]:
#List is equivalent to list in Java
list = [1,2,3]
print(type(list))

#Dictonary is equivalent to Map in Java
dict = {1:"sudha", 2:"Machine Learning"}
print(type(dict))

#Tuple is equivalent to Set in Java
tuple = (1,2,3)
print(type(tuple))

<class 'list'>
<class 'dict'>
<class 'tuple'>

### c) Data types conversions or typecasting
        Data from one type can be converted into another type using conversion operator
        int(variable)   - converts variable to integer 
        str(variable)   - converts variable to string
        float(variable) - converts varaible to float

In [14]:
#Number as string can be converted to int 
a = '20'
print(type(a))
b - int(a)
print(type(b))

<class 'str'>
<class 'int'>

In [15]:
#String value cant be converted in to int, t raises a error
aa = "sudha"
print(type(int(aa)))

ValueError: invalid literal for int() with base 10: 'sudha'

In [24]:
#String to boolean all strings will be True
s = "a"
print(bool(s))
print(type(bool(s)))

#number 1 as True
print(bool(1))

#number 0 as False
print(bool(0))

True
<class 'bool'>
True
False

In [25]:
2*3 == 6

True

## Strings

1) Subsets of strings can be taken using <b>slice operator ([] and [:])</b> with indexes starting at 0 in the begining of the string and working their way from -1 at the end

2) Substring  from [start: end], if end is empty means till end of the string

3) [4] gives the character in the string

4) String in Python is <b>Immutable</b>. Unlike other datasets such as lists, you cannot manipulate the individual string values. In order to do so, you have to take subsets of strings and form a new string 

5) A string can be converted to a numerical type and vice versa. Many a times, raw data althrough numeric is coded in string format. This feature provides a clean way to make sure all of the data is a numeric form 

6) String and numbers can also be formatted

In [39]:
st = "Sudhasrinivas"
print(st[3:])
st = "Pallam"
print(st[1:])

hasrinivas
allam

### String concetination

In [42]:
first_name = "Sudhasrinivas" 
last_name = "Pallam"
print(first_name+" "+last_name)
print(" ".join([first_name, last_name]))

Sudhasrinivas Pallam
Sudhasrinivas*Pallam

### Print formating with strings

In [45]:
age = 30 
name = "sudhasrinivas"
my_age = "I am {1}, {0} years old".format(age,name) 
print(my_age)

I am sudhasrinivas, 30 years old

### Skipping

In [54]:
nums = "12345678"
even_num = nums[1::2]
# starts from 2nd position and skip to every 2nd place after that
print(even_num)

2468

### String Methods and functions

In [61]:
Stri = "This is Python"
print(len(Stri))
print(Stri.count('y'))
print(Stri.split(' '))
print(Stri.upper())
print(Stri.lower())
print(Stri.swapcase())

14
1
['This', 'is', 'Python']
THIS IS PYTHON
this is python
tHIS IS pYTHON

In [65]:
space_string = "   This is sample sentence for removing spaces   "
print(space_string.lstrip())
print(space_string.rstrip())
print(space_string.strip())

This is sample sentence for removing spaces
   This is sample sentence for removing spaces
This is sample sentence for removing spaces

In [66]:
start = '     There is space at the start'
print(start.strip())

There is space at the start

## Data Structures

Lists, Dictionary, Tuple

### Lists

1) A list contains items seperated by commas and enclosed within []

2) All the items belonging to a list can be of <b>different data types</b>

3) The <b>plus(+)</b> sign is the list concentration operator, and the <b>astreak (*)</b> is the repetitor operation

In [70]:
list1 = ['Managers','are', 'the', 'next']
print(list1)
print(list1[1:3])

['Managers', 'are', 'the', 'next']
['are', 'the']

In [89]:
list1 = [1,2,3,4,5,6]
list2 = [5,6,7,8,9,3]

#concatinate 2 list to single list
list_con = list1+list2
print(list_con)

#Adds an element at last
list_con.append(100)
print(list_con)

#Adds an element at 2nd index of the list
list_con.insert(2,500)
print(list_con)

#removes a element 2 if in the list else throws error
list_con.remove(2)
print(list_con)

#pops out the last element in the list
list_con.pop()
print(list_con)

#sort the list
print(sorted(list_con, reverse=False))

#Max num in the list
print(max(list_con))

#Min num in the list
print(min(list_con))
list_con.reverse()
print(list_con)

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 3]
[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 3, 100]
[1, 2, 500, 3, 4, 5, 6, 5, 6, 7, 8, 9, 3, 100]
[1, 500, 3, 4, 5, 6, 5, 6, 7, 8, 9, 3, 100]
[1, 500, 3, 4, 5, 6, 5, 6, 7, 8, 9, 3]
[1, 3, 3, 4, 5, 5, 6, 6, 7, 8, 9, 500]
500
1
[3, 9, 8, 7, 6, 5, 6, 5, 4, 3, 500, 1]

In [94]:
nest = [[1, 2, 3, 4], [ 5, 6, 7], [8, 9, 10]]

print(nest[1])
print(nest[0][2])
print(nest[:2])

[5, 6, 7]
3
[[1, 2, 3, 4], [5, 6, 7]]

## Tuple
    
     Tuple is a sequence of immutable Python objects

In [96]:
first_tuple = ("Sudha", 35, "Srinivas", 10.2)
print(first_tuple)
print(first_tuple[2])

('Sudha', 35, 'Srinivas', 10.2)
Srinivas

## Dictionary

+ One of the most important built-in data structure.
+ List vs. Dictionary
+ Mapping of words with their synonyms or meanings.
+ They work like associative arrays and consist of <font color='red'><b>key-value pairs</b></font> (Indexed with Keys). 
+ A dictionary key can be almost any Python type, but are usually numbers or strings. 
+ Values, on the other hand, can be any arbitrary Python object.
+ Dictionaries are enclosed by <b>curly braces ( { } )</b> and values can be assigned and accessed using <b>square braces ( [] )</b>.

In [98]:
bio_data = {'Name': 'Bob Marley', 'Age': 35, 'Height':'5.6 ft', 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [99]:
credentials = { 'UserA' : 'wkliopnc' , 'UserB': 98760 , 'UserC' :98760 } 
print(credentials)

{'UserA': 'wkliopnc', 'UserB': 98760, 'UserC': 98760}

In [103]:
#get list of keys
print(bio_data.keys())

#get list of values
print(bio_data.values())

dict_keys(['Name', 'Age', 'Height', 'Hobby'])
dict_values(['Bob Marley', 35, '5.6 ft', 'Music'])

In [106]:
new_dictionary = dict(Height = '5ft', Country='Jamaica', Songs=['One Love','Misty Morning'])
print(new_dictionary)

TypeError: 'dict' object is not callable

## Sets

+ Unordered lists
+ Just collection of entities
+ Sets are a good way to get the unique elements out of a collection 
+ To find common elements in various collections. 
+ Using sets is quick and can help solve tasks requiring deduplication.

In [112]:
virat_list = [10,56,44,30,5,10,44]
print(virat_list)

[10, 56, 44, 30, 5, 10, 44]

In [113]:
#Removes duplictes and sort 
virat_set = set(virat_list)

In [115]:
print(virat_set)
print(type(virat_set))

{5, 10, 44, 56, 30}
<class 'set'>

In [116]:
rohit_list = [55,44,5,5,10]

In [117]:
rohit_set = set(rohit_list)
print(rohit_set)

{10, 44, 5, 55}

In [118]:
print(virat_set.intersection(rohit_set))

{10, 44, 5}

In [119]:
print(virat_set.union(rohit_set))

{5, 10, 44, 55, 56, 30}

In [120]:
print(virat_set.difference(rohit_set))

{56, 30}